*{
    padding: 0%;
    margin: 0%;
}

.div1{
    padding: 1%;
    width: 500px;
    margin: auto;
    border: 3px solid green;
}

.div2{
    padding: 1%;
    max-width: 500px;
    margin: auto;
    border: 3px solid green;
}

