*{
    padding: 0%;
    margin: 0%;
}

.imagen img{
    width: 100%;

}

.imagen{
    width: 20%;
    float: left;
}

.texto{
    width: 70%;
    background-color: lightblue;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    float: left;
}

@media only screen and (max-width:600px) {
    .imagen{
        float: none;
        margin-left: 40%;
    }
    .texto{
        float: none;
        width: 100%;
    }
}