*{
    padding: 0%;
    margin: 0%;
}

ul{
    list-style-type: none; /* Para quitar puntos de una lista */
    margin: 0%;
    padding: 0%;
    background-color: #333;
    overflow: hidden; /* No se puede saler el texto y lo recorta */

}

li{
    float: left; /* Flota a la izquierda para que se vea en horizontal */
}

li a{ /* Para acceder al enlace dentro del li */
    text-decoration: none; /* Para quitar el subrayado de un enlace */
    color: white; /* Color de la letra a blanco */
    text-align: center;
    padding: 14px 16px; /* Arriba y abajo 14px, derecha e izquierda 16px */
    display: block; /* En este caso el padding afecta a arriba y abajo */
}

li a:hover{ /* Aquí ponemos lo que hace cuando nos ponemos encima del link */
    background-color: #111;
}